@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*-----------------------------------*\
  #ZERANDO CSS
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*-----------------------------------*\
  #FUNDO-TELA #DEFINIÇÕES BASICAS
\*-----------------------------------*/


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Oxanium", Sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(255, 255, 255);
}

span {
    color: rgb(255, 0, 0);
    font-size: 60px;
}



/*-----------------------------------*\
  #PROPAGANDA
\*-----------------------------------*/

.propaganda1{
    background-image: url(../Imagens/Outros/divd.jpg);
    background-position: center;
    background-size: cover;
    height: 220px;
}

.propaganda2{
    background-image: url(../Imagens/Outros/divd2.jpg);
    background-position: center;
    background-size: cover;
    height: 220px;
}

/*-----------------------------------*\
  #MENU - #HEADER - #NAVBAR - #SOCIAL
\*-----------------------------------*/

/* BACKGROND CAIXA 1 */

.backgrond-caixa-1 {
    background: linear-gradient(rgba(17, 17, 17, 0.849), rgba(20, 20, 20, 0.007)), url(../Imagens/Backgronds/backgrond2.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    height: 100vh;
}

/* HEADER */

header {
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.336);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.logoimg {
    width: 12rem;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 10px;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 50px;
    align-items: center;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(201, 17, 17);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

.insta {
    width: 33px;
    height: 33px;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d62491 68%,
            #285aeb 98%);
    border-radius: 7px;
    display: grid;
    place-items: center;
}

.innerbox {
    width: 25px;
    height: 25px;
    border: 3px solid #913232;
    border-radius: 6px;
    display: grid;
    place-items: center;
    position: relative;
}

.innerbox2 {
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    position: relative;
}

.icon-whatsapp {
    width: 38px;
}

.user img {
    width: 33px;
    cursor: pointer;
}

/* CENTRO - CONTEUDO PRINCIPAL */

main {
    margin-left: 11vh;
}

.main-content {
    display: flex;
    flex-direction: column;
}

/* TEXTOS CONTEUDO PRINCIPAIS */

.primary-text {
    font-family: "Oxanium", Sans-serif;
    width: 850px;
    margin-bottom: 1rem;
    font-size: 5rem;
    text-align: start;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Oxanium", Sans-serif;
}

/* BOTOES */


.btns {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.4rem;
    border-radius: 15px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(199, 16, 16);
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 15px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}

.btns {
    display: flex;
    justify-content: start;
    gap: 20px;
}

/*-----------------------------------*\
  #GARAGEM
\*-----------------------------------*/

/* FUNDO GARAGEM */
.garagem {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* TEXTOX */
.primary-text-destaques {
    background-color: black;
    margin-top: 20px;
    text-align: center;
    font-size: 90px;
}

.second-text-destaques {
    color: rgba(255, 255, 255, 0.877);
    margin-top: 7px;
    text-align: center;
    font-size: 45px;
}

/* HR */
.hr-destaques {
    height: 0px;
    color: rgb(255, 0, 0);
    background-color: transparent;
}

/* SPAN */
.span-destaques {
    color: rgb(255, 0, 0);
    font-size: 100px;
}

/*-----------------------------------*\
  #CATALOGO
\*-----------------------------------*/

/* BANNER */
.banner {
    width: auto;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

/* TEXTO */
.primary-text-catalogo {
    margin-top: 15px;
    text-align: center;
    font-size: 7rem
}

/* SPAN */
.span-catalogo{
    color: #ff0000;
}

/* SLIDE */
.slide {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* SLIDE IMG */
.slide img {
    width: 110px;
    height: 90px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.slide img:hover {
    transform: scale(1.3);
}

/* CONTAINER */
.container {
    width: 100%;
    height: 90%;
    position: relative;
}

.container figure {
    width: 100%;
    height: 100%;
    line-height: 0;
    padding: 0px 20px 0px 20px;
}

/* FIGURE */
figure img {
    width: 100%;
    height: 100%;
    padding: 0px 0px 70px 0px;
}

/*-----------------------------------*\
  #SOBRE
\*-----------------------------------*/

/* HR */
.hr-sobre {
    margin: 0;
    margin-top: 15px;
}

/* MAIN */
.main-content-sobre {
    margin: 0;
    margin-top: 5px;
    background: linear-gradient(rgba(17, 17, 17, 0.849), rgba(20, 20, 20, 0.007)), url(../Imagens/Backgronds/Backgrond7.png);
    display: flex;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    height: 120vh;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* TEXTOS */
.primary-text-sobre {
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

.second-text-sobre {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.texto-sobre {
    text-align: center;
    justify-content: center;
    padding: 0px 10px;
}

.texto-sobre h1 {
    font-size: 15px;
    font-family: "Oxanium", Sans-serif;
}

/* SPAN */
.span-sobre {
    font-size: 6rem;
    color: rgb(255, 0, 0);
}

/* CONTAINER */
.container-sobre {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 95vw;
    height: 100vh;
}

/* IMG */
.img-sobre img {
    margin: 0;
    width: 55vw;
    height: 75vh;
}

