section.slider {
    margin: 0 auto;
    padding: 0 !important;
    margin-top: 50px;
}

section.slider a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content-2 {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide-box {
    position: relative;
    transition: 1s;
}

.img-desktop {
    margin-top: 25px;
    width: 23vw;
    height: 27vh;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 1.5s;
    background: linear-gradient(rgba(17, 17, 17, 0.849), rgba(20, 20, 20, 0.007));
}

.backgrond-carrosel-1 img {
    width: 23vw;
    height: 35vh;
    text-align: center;
}

.main-descricao-destaques {
    width: 24vw;
    display: flex;
    align-items: baseline;
    transition: 1.5s;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-descricao-destaques:hover {
    transform: scale(0.9);
}

.descricao-destaques-nome {
    margin-top: 3px;
    font-family: "Chakra Petch", Sans-serif;
    font-size: 2rem;
}

.hr-destaques-2 {
    border: 2px solid rgb(255, 0, 0);
    margin-top: 3px;
    width: 11vw;
    background-color: transparent;
}

.hr-destaques-3 {
    border: 2px solid rgb(255, 0, 0);
    margin-top: 4px;
    width: 9vw;
    background-color: transparent;
}

.descricao-destaques-valor {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Chakra Petch", Sans-serif;
}


.descricao-destaques-especificacoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    font-family: "Chakra Petch", Sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.descricao-destaques-especificacoes h1 {
    margin-right: 2px;
}

.descricao-destaques-especificacoes img {
    height: 3vh;
    width: 2vw;
}